{% extends "base.html" %}
{% block title %} Ibuybeauty {% endblock %}
{% block body %}

<div>
  <h4><em>Your reviews</em></h4>
  {% for productid, rating, text, pname in user_product_reviews %}
  <div class="card">
    <div class="card-content">
      <p><b>Product name</b>: {{ pname }} | <b>Product ID</b>: {{ productid }} </p>
      <p><b>Rating</b>: {{ rating }} </p>
      <p><b>Review</b>: {{ text }} </p>
    </div>
  </div>
  {% endfor %}
    
    
  <h4><em>Your purchases</em></h4>
  {% for pname, clastname, cfirstname, cid, czip, iid, idate, inum in purchase_history %}
  <div class="card">
    <div class="card-content">
      <p><b>Order ID</b>: {{ iid }}</p>
      <p><b>Order date</b>: {{ idate }} </p>
      <p><b>Product name</b>: {{ pname }} | <b>Product ID</b>: {{ productid }} </p>
      <p><b>Quantity</b>: {{ inum }}</p>
      <p><b>Name</b>: {{ cfirstname }} {{ clastname }} </p>
      <p><b>Customer ID</b>: {{ cid }} </p>
      <p><b>Zip code</b>: {{ czip }} </p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
